# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
# Python
.venv/
__pycache__/
*.pyc

# Node / React
node_modules/
dist/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db